.grid-container {
    display: grid;
}

.grid-container > button {
    margin: 2px;
}
.btn-1 {
    grid-area: 1/1 / 2/2;
}
.btn-2 {
    grid-area: 1/2 / 2/4;
}
.btn-3 {
    grid-area: 2/1 / 3/3;
}
.btn-4 {
    grid-area: 2/3 / 3/4;
}

.btn-5 {
    grid-area: 3/1 / 3/2;
}
.btn-6 {
    grid-area: 3/2 / 3/4;
}